<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="content-title">글쓰기</th:block>
<th:block layout:fragment="css">
    <!-- 썸머노트 css -->
    <link th:href="@{/css/lib/summernote/summernote.css}" rel="stylesheet" type="text/css">
    <style>
        .comment-form {
            margin-top: 20px;
        }
        .ck-editor__editable_inline {
            height: 500px;
        }
    </style>
</th:block>
<th:block layout:fragment="script">
    <!-- 썸머노트 js -->
    <script th:src="@{/js/lib/summernote/summernote.js}"></script>
</th:block>
<div layout:fragment="content" id="tt-body-index" class="layout-aside-right paging-number" style="">

    <div id="wrap">
        <section id="container">
            <div class="content-wrap">
                <article id="content">
                    <label for="summernote"></label>
                    <textarea id="summernote" placeholder="This is some sample content."></textarea>
                    <div class="comment-form">
                        <div class="submit">
                            <button type="submit" class="btn" onclick="">등록</button>
                        </div>
                    </div>
                </article>
                <aside th:replace="fragments/side :: post-side"></aside>
            </div>
        </section>
        <hr>
    </div>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                height: 300,                 // 에디터 높이
                minHeight: null,             // 최소 높이
                maxHeight: null,             // 최대 높이
                focus: true,                  // 에디터 로딩후 포커스를 맞출지 여부
                lang: "ko-KR",					// 한글 설정
                placeholder: '최대 2048자까지 쓸 수 있습니다',	//placeholder 설정
                callbacks: {	//여기 부분이 이미지를 첨부하는 부분
                    onImageUpload : function(files) {
                        uploadSummernoteImageFile(files[0],this);
                    },
                    onPaste: function (e) {
                        let clipboardData = e.originalEvent.clipboardData;
                        if (clipboardData && clipboardData.items && clipboardData.items.length) {
                            let item = clipboardData.items[0];
                            if (item.kind === 'file' && item.type.indexOf('image/') !== -1) {
                                e.preventDefault();
                            }
                        }
                    }
                },
                toolbar: [
                    // [groupName, [list of button]]
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                    ['color', ['forecolor','color']],
                    ['table', ['table']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert',['picture','link','video']],
                    ['view', ['fullscreen', 'help']]
                ],
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
                fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
            });
        });

        /**
         * 이미지 파일 업로드
         */
        function uploadSummernoteImageFile(file, editor) {
            let data = new FormData();
            data.append("file", file);
            $.ajax({
                data : data,
                type : "POST",
                url : "/uploadSummernoteImageFile",
                contentType : false,
                processData : false,
                success : function(data) {
                    //항상 업로드된 파일의 url이 있어야 한다.
                    $(editor).summernote('insertImage', data.url);
                },
                error:function(request,status,error){
                    alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
                }
            });
        }

        function readyAlert() {
            alert('구현중입니다.');

        }
        
        function f() {
            
        }
    </script>
</div>
</html>
