<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="content-title">글쓰기</th:block>
<th:block layout:fragment="css">
    <style>
        .comment-form {
            margin-top: 20px;
        }
    </style>
</th:block>
<th:block layout:fragment="script">
    <!-- 에디터 -->
    <script src="/js/lib/ckeditor.js"></script>
</th:block>
<div layout:fragment="content" id="tt-body-index" class="layout-aside-right paging-number" style="">

    <div id="wrap">
        <section id="container">
            <div class="content-wrap">
                <article id="content">
                    <label for="editor"></label>
                    <textarea id="editor" placeholder="This is some sample content."></textarea>
                    <div class="comment-form">
                        <div class="submit">
                            <button type="submit" class="btn" onclick="">등록</button>
                        </div>
                    </div>
                </article>
                <aside th:replace="fragments/side :: post-side"></aside>
            </div>
        </section>
        <hr>
    </div>
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ))
            .catch( error => {
                console.error( error );
            } );

        function readyAlert() {
            alert('구현중입니다.');

        }
    </script>
</div>
</html>
