<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<header th:fragment="post-header" id="header">
    <div class="inner">
        <h1>
            <a href="/index">
                빵똥
            </a>
        </h1>
        <nav id="gnb" th:with="currentUrl = ${#httpServletRequest.requestURI}">
            <ul style="width: 284px;">
                <li th:classappend="${#strings.contains(currentUrl,'index')} ? current : ''" class="t_menu_home first">
                    <a href="/index">홈</a>
                </li>
                <li th:classappend="${#strings.contains(currentUrl,'post')} ? current : ''" class="t_menu_tag">
                    <a th:href="@{../post/newPost}">게시글</a>
                </li>
                <li th:classappend="${#strings.contains(currentUrl,'guestbook')} ? current" class="t_menu_guestbook last">
                    <a href="javascript:void(0);" onclick="readyAlert()">방명록</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
</html>