<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<aside th:fragment="post-side" id="aside" class="sidebar">
    <div class="sidebar-1">
        <!-- 카테고리 -->
        <nav class="category">
            <ul class="tt_category">
                <li class="">
                    <!--<a class="link_tit" href="/category">-->
                    <a href="javascript:void(0);" onclick="readyAlert()">
                        혜원이 사랑해♥
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
</html>