<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <link rel="stylesheet" type="text/css"
          href="https://t1.daumcdn.net/tistory_admin/lib/lightbox/css/lightbox.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://t1.daumcdn.net/tistory_admin/assets/blog/tistory-bb323eb22b51314b0bd24b77343800108c15089d/blogs/style/content/font.css?_version_=tistory-bb323eb22b51314b0bd24b77343800108c15089d">
    <link rel="stylesheet" type="text/css"
          href="https://t1.daumcdn.net/tistory_admin/assets/blog/tistory-bb323eb22b51314b0bd24b77343800108c15089d/blogs/style/content/content.css?_version_=tistory-bb323eb22b51314b0bd24b77343800108c15089d">
    <meta name="referrer" content="always">
    <meta name="description" content="">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <title>빵똥</title>
    <link rel="stylesheet" href="https://tistory4.daumcdn.net/tistory/0/BookClub/style.css">
    <style type="text/css">

        .entry-content a, .post-header h1 em, .comments h2 .count {
            color: #04beb8
        }

        .comment-form .submit button:hover, .comment-form .submit button:focus {
            background-color: #04beb8
        }
    </style>
    <link rel="stylesheet" type="text/css"
          href="https://t1.daumcdn.net/tistory_admin/assets/blog/tistory-bb323eb22b51314b0bd24b77343800108c15089d/blogs/plugins/TistoryProfileLayer/style.css?_version_=tistory-bb323eb22b51314b0bd24b77343800108c15089d">
    <link rel="stylesheet" type="text/css"
          href="https://t1.daumcdn.net/tistory_admin/assets/blog/tistory-bb323eb22b51314b0bd24b77343800108c15089d/blogs/style/dialog.css?_version_=tistory-bb323eb22b51314b0bd24b77343800108c15089d">
    <link rel="stylesheet" type="text/css" href="//t1.daumcdn.net/tistory_admin/www/style/top/font.css">
    <link rel="stylesheet" type="text/css"
          href="https://t1.daumcdn.net/tistory_admin/assets/blog/tistory-bb323eb22b51314b0bd24b77343800108c15089d/blogs/style/postBtn.css?_version_=tistory-bb323eb22b51314b0bd24b77343800108c15089d">
    <link rel="stylesheet" type="text/css"
          href="https://t1.daumcdn.net/tistory_admin/assets/blog/tistory-bb323eb22b51314b0bd24b77343800108c15089d/blogs/style/component/tistory.css?_version_=tistory-bb323eb22b51314b0bd24b77343800108c15089d">
</head>
<body id="tt-body-index" class="layout-aside-right paging-number" style="">

<div style="margin:0; padding:0; border:none; background:none; float:none; clear:none; z-index:0"></div>
<div id="acc-nav">
    <a href="#content">본문 바로가기</a>
</div>
<div id="wrap">
    <header id="header">
        <div class="inner">
            <h1>
                <a href="/">
                    빵똥
                </a>
            </h1>
            <nav id="gnb">
                <ul style="width: 271px;">
                    <li class="t_menu_home first current">
                        <a href="/">홈</a>
                    </li>
                    <li class="t_menu_tag">
                        <a href="/tag">태그</a>
                    </li>
                    <li class="t_menu_guestbook last">
                        <a href="/guestbook">방명록</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="container">
        <div class="content-wrap">
            <article id="content">
                <div class="post-header">
                    <h1><span>전체 글</span><em>1</em></h1>
                </div>
                <div class="inner">
                    <div th:each="post:${posts}" class="post-item">
                        <a href="/1">
                            <span class="thum">
                                <img src="//i1.daumcdn.net/thumb/C230x300/?fname=https://t1.daumcdn.net/cfile/tistory/99AE79475FEC7C4B34" alt="">
                            </span>
                            <span th:text="${post.title}" class="title"></span>
                            <span th:text="${post.content}" class="excerpt"></span>
                            <span class="meta">
                                <span th:text="${#strings.substring(post.modifiedDate,0,10)}" class="date"></span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="pagination">
                    <a class="prev no-more-prev">이전</a>
                    <a><span class="selected">1</span></a>
                    <a class="next no-more-next">다음</a>
                </div>
            </article>
            <aside id="aside" class="sidebar">
                <div class="sidebar-1">
                    <!-- 카테고리 -->
                    <nav class="category">
                        <ul class="tt_category">
                            <li class="">
                                <a class="link_tit" href="/category">
                                    분류 전체보기
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
        </div>
    </section>
    <hr>
    <footer id="footer">
        <div class="inner">
            <div class="order-menu">
            </div>
            <a href="#" class="page-top">TOP</a>
            <p class="meta">TEL. 02.1234.5678 / 경기 성남시 분당구 판교역로</p>
            <p class="copyright">© Kakao Corp.</p>
        </div>
    </footer>
</div>
</body>
</html>
